html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Acrom', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--main-text-cl);
  scroll-behavior: smooth;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.logo {
  display: inline-block;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  margin-bottom: 50px;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.39;
  }
}

.small-title {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  @include for-size(desktop) {
    line-height: 1.87;
  }
}

.accent-text {
  color: var(--accent-cl);
}

@include for-size(desktop) {
  .flexbox {
    display: flex;
    justify-content: space-between;
  }

  .content-box {
    width: calc((100% - 30px) / 2);
  }
}

.img-shadow {
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.3));
}
