/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --accent-cl: #ff6c00;
  --accent-dark-cl: #d14a00;
  --main-text-cl: #101010;
  --purple: rgba(141, 121, 195, 1);
  --light-blue: hsl(205, 92%, 56%);
  --blue: #032068;
  --navy: #071a4b;
  --dark-bg: #04102f;
  --dark-bg-text: #798dc3;
  --footer-bg: #01091e;
  --grid-item: 1;
  --grid-mr-left: 30px;
  --grid-mr-top: 30px;
  --emoji: apple color emoji, segoe ui emoji, notocoloremoji, segoe ui symbol, android emoji, emojisymbols,
    emojione mozilla;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 4px 4px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 24px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 24px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -7px;
}
.hamburger-inner::after {
  bottom: -7px;
}

/*
 * Spring
 */
.hamburger--spring .hamburger-inner {
  top: 1.5px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 7px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 7px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 7px, 0) rotate(-45deg);
}

@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Light.68ac2d43.woff) format("woff"), url(/Acrom-Light.494b6d45.woff2) format("woff2");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Regular.96326574.woff) format("woff"), url(/Acrom-Regular.c8780340.woff2) format("woff2");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Medium.333c9898.woff) format("woff"), url(/Acrom-Medium.333c9898.woff) format("woff2");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-Bold.3700b40e.woff) format("woff"), url(/Acrom-Bold.d618a077.woff2) format("woff2");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "Acrom";
  src: url(/Acrom-ExtraBold.5a836c4e.woff) format("woff"), url(/Acrom-ExtraBold.ff500640.woff2) format("woff2");
  font-weight: 800;
  font-display: fallback;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Acrom", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--main-text-cl);
  scroll-behavior: smooth;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover, .link:focus {
  color: var(--accent-cl);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.logo {
  display: inline-block;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.39;
  }
}

.small-title {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
@media (min-width: 1280px) {
  .small-title {
    line-height: 1.87;
  }
}

.accent-text {
  color: var(--accent-cl);
}

@media (min-width: 1280px) {
  .flexbox {
    display: flex;
    justify-content: space-between;
  }

  .content-box {
    width: calc((100% - 30px) / 2);
  }
}
.img-shadow {
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.3));
}

.kinetic-wrap {
  position: absolute;
  bottom: -50px;
  left: 48%;
  transform: translate(-50%, 90%) scale(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  overflow: hidden;
}
@media (min-width: 480px) {
  .kinetic-wrap {
    transform: translate(-50%, 80%) scale(1.4);
  }
}
@media (min-width: 768px) {
  .kinetic-wrap {
    transform: translate(-50%, 96%) scale(1.9);
    width: 360px;
    height: 330px;
  }
}
@media (min-width: 1280px) {
  .kinetic-wrap {
    left: 52%;
    top: 40%;
    transform: scale(1.8);
    width: 440px;
    height: 430px;
  }
}

.kinetic-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.round-parallax {
  position: absolute;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  padding: 13px 14px;
  font-weight: 700;
  font-size: 10px;
  line-height: 3;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 0.3s linear;
  cursor: pointer;
  outline: none;
}
@media (min-width: 480px) {
  .btn {
    padding: 13px 28px;
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .btn {
    font-size: 16px;
    line-height: 2.25;
    padding: 20px 40px;
  }
}

.btn-accent {
  color: #ffffff;
  background-color: var(--accent-cl);
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  background-color: var(--accent-dark-cl);
}
.btn-accent:hover svg, .btn-accent:focus svg, .btn-accent:active svg {
  transform: rotate(10deg);
  transition: transform 0.15s;
}

.btn-transparent {
  font-size: 14px;
  background-color: transparent;
  color: var(--accent-cl);
}
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
  background-color: transparent;
  color: var(--accent-dark-cl);
}

.js-btn--fly {
  position: relative;
  overflow: visible;
  width: 280px;
  height: 62px;
  font-size: 12px;
}
@media (min-width: 480px) {
  .js-btn--fly {
    width: 392px;
    height: 76px;
    font-size: 16px;
  }
}
.js-btn--fly .btn-text {
  margin-right: 38px;
}
.js-btn--fly svg {
  position: absolute;
  top: 14px;
  right: 16px;
  width: auto;
  height: 30px;
  fill: #ffbe93;
  transition: transform 0.15s linear;
}
@media (min-width: 480px) {
  .js-btn--fly svg {
    top: 23px;
    right: 30px;
  }
}
.js-btn--fly.clicked {
  color: #ffffff;
  line-height: 28px;
  background-color: #d14a00;
}
@media (min-width: 480px) {
  .js-btn--fly.clicked {
    animation: bounce-in 0.3s;
    line-height: 50px;
  }
}
.js-btn--fly.clicked svg {
  animation: flyaway 1.3s linear;
}

.btn-icon {
  display: inline-block;
  fill: currentColor;
  margin-left: 14px;
  margin-bottom: 3px;
}

.btn-pos-center {
  margin: 0 auto;
}

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
  }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
  }
}
@keyframes bounce-in {
  0% {
    padding-left: 0;
  }
  40% {
    padding-left: 45px;
  }
  80% {
    padding-right: 20px;
  }
  100% {
    padding-right: 0;
  }
}
.menu {
  display: none;
}
@media (min-width: 1280px) {
  .menu {
    display: inline-flex;
  }
}

.menu-item:not(:last-child) {
  margin-right: 80px;
}

.menu-link {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .socials-item {
    width: calc((100% - 20px) / 2);
  }
  .socials-item:nth-child(2) {
    order: 2;
  }
  .socials-item:nth-child(3) {
    order: 0;
  }
  .socials-item:nth-child(4) {
    order: 2;
  }
}
.socials-item:not(:last-child) {
  margin-bottom: 8px;
}

.socials-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #fff;
}
.socials-link:hover, .socials-link:focus {
  color: var(--accent-cl);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  padding: 100px 50px 50px;
  background-color: var(--navy);
  z-index: 80;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s ease-in-out 0.3s;
}
.mobile-menu.is-open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.3s linear;
}
@media (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .menu {
  display: block;
}

.mmenu-btn {
  display: inline-flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
}
@media (min-width: 1280px) {
  .mmenu-btn {
    display: none;
  }
}

.scroll-hidden {
  overflow: hidden;
}

.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.588);
  z-index: 100;
  overflow: auto;
  transition: opacity 0.2s;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: transform 0.3s linear 0.2s;
}
.is-hidden .modal {
  transform: translate(-50%, 100%) scale(0);
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 7px;
  background: #fff;
  outline: none;
  color: var(--dark-bg);
}
.btn-close:focus {
  border: 1.5px solid rgba(255, 255, 255, 0.75);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.grid {
  margin-top: calc(var(--grid-mr-top) * -1);
}
@media (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-mr-left) * -1);
  }
}

.grid-item {
  margin-top: var(--grid-mr-top);
}
@media (min-width: 768px) {
  .grid-item {
    flex-basis: calc(100% / var(--grid-item) - var(--grid-mr-left));
    margin-left: var(--grid-mr-left);
  }
}

.hero-header {
  background-color: var(--dark-bg);
  color: #ffffff;
  padding-bottom: 360px;
}
@media (min-width: 768px) {
  .hero-header {
    padding-bottom: 420px;
  }
}
@media (min-width: 1280px) {
  .hero-header {
    padding-bottom: 300px;
  }
}
.hero-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero-header .logo {
  width: 80px;
}

.top-panel {
  background: var(--dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 90;
}
@media (min-width: 768px) {
  .top-panel {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .top-panel .btn-transparent {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .top-panel .btn-transparent {
    margin-left: auto;
  }
  .top-panel .btn-transparent span {
    display: none;
  }
}
@media (min-width: 1280px) {
  .top-panel .btn-transparent {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero-content {
    width: calc(100% / 4 * 3);
    padding-top: 75px;
  }
}
@media (min-width: 1280px) {
  .hero-content {
    width: calc(100% / 12 * 5);
    padding-top: 140px;
  }
}
.hero-content .btn {
  margin-top: 50px;
}

.hero-video {
  position: absolute;
  left: 0;
  left: 50%;
  bottom: -270px;
  transform: translate(-50%, 100%);
  max-width: 100%;
  height: auto;
}
@media (max-width: 767.98px) {
  .hero-video {
    width: 280px;
  }
}
@media (min-width: 1280px) {
  .hero-video {
    left: 55px;
    bottom: 0;
    transform: translateY(150%);
  }
}

.hero-label {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #04102f;
  background-color: #fff;
}
@media (min-width: 768px) {
  .hero-label {
    font-size: 50px;
  }
}
.hero-label:after {
  content: "free";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px));
  font-family: Acrom;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ff6c00;
}
@media (min-width: 768px) {
  .hero-label:after {
    transform: translateX(calc(100% + 15px));
  }
}

.hero-date {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .hero-date {
    font-size: 20px;
  }
}

.hero-title {
  margin-bottom: 10px;
  font-size: 75px;
  line-height: 1;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 140px;
  }
}

.hero-description::after {
  content: "";
  display: block;
  width: 100%;
  height: 24px;
  margin-top: 30px;
  background-image: url(/youtube.88e43ca5.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.what-is {
  background-image: linear-gradient(to top, var(--dark-bg) 0, var(--dark-bg) 150px, white 150px, white 100%);
}
@media (min-width: 768px) {
  .what-is {
    padding-top: 244px;
    background-image: linear-gradient(to top, var(--dark-bg) 0, var(--dark-bg) 200px, white 200px, white 100%);
  }
}
@media (min-width: 1280px) {
  .what-is {
    padding-top: 50px;
    background-image: linear-gradient(to top, var(--dark-bg) 0, var(--dark-bg) 50px, white 50px, white 100%);
  }
  .what-is .container {
    flex-direction: row-reverse;
  }
}

.what-is-img-wrap {
  transform: translateY(70px);
}
@media (min-width: 768px) {
  .what-is-img-wrap {
    transform: translateY(0px);
  }
}
@media (min-width: 1280px) {
  .what-is-img-wrap {
    transform: translateY(90px);
  }
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .offer-image {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .what-is-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .what-is-list {
    height: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .what-is-list {
    padding-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .what-is-content {
    width: calc((100% - 30px) / 12 * 7);
  }
}
.what-is-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--blue);
}
@media (min-width: 480px) {
  .what-is-item {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .what-is-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 20px * 2) / 4);
    padding-left: 20px;
    padding-right: 20px;
  }
  .what-is-item:not(:first-child) {
    border-left: 1px solid rgba(47, 81, 176, 0.2);
  }
  .what-is-item:last-child {
    width: calc((100% - 20px * 2) / 2);
  }
}
@media (min-width: 1280px) {
  .what-is-item {
    width: calc((100% - 30px * 2) / 7 * 2);
  }
  .what-is-item:last-child {
    width: calc((100% - 30px * 2) / 7 * 3);
  }
}

.item-summary {
  font-size: 28px;
  line-height: 2;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .item-summary {
    width: 50%;
    margin-right: 10px;
    text-align: right;
  }
  .item-summary:after {
    content: "";
    display: inline-block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .what-is-item:nth-child(1) .item-summary:after {
    background-image: url(/what-1.bfd8716b.png);
  }
  .what-is-item:nth-child(2) .item-summary:after {
    background-image: url(/what-2.dc1a4ae9.png);
  }
  .what-is-item:nth-child(3) .item-summary:after {
    background-image: url(/what-3.5504b525.png);
  }
}
@media (min-width: 480px) {
  .item-summary {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .item-summary {
    font-size: 75px;
  }
  .item-summary:before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    line-height: 1;
  }
  .what-is-item:nth-child(1) .item-summary:before {
    background-image: url(/what-1.bfd8716b.png);
  }
  .what-is-item:nth-child(2) .item-summary:before {
    background-image: url(/what-2.dc1a4ae9.png);
  }
  .what-is-item:nth-child(3) .item-summary:before {
    background-image: url(/what-3.5504b525.png);
  }
}

.profit {
  background-color: var(--dark-bg);
  color: #ffffff;
}
.profit .container {
  position: relative;
}
.profit .round-parallax {
  top: -50px;
  right: 20px;
  transform: translateY(-100%);
  display: block;
  width: 150px;
}
@media (min-width: 768px) {
  .profit .round-parallax {
    top: -110px;
    right: 150px;
    width: 179px;
  }
}
@media (min-width: 1280px) {
  .profit .round-parallax {
    top: -60px;
    right: 40px;
  }
}
@media (min-width: 768px) {
  .profit .section-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 50px;
    background-image: url(/profit-icon.231bca81.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media (min-width: 768px) {
  .profit-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .profit-item {
    display: flex;
  }
  .profit-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .profit-item {
    width: 50%;
    padding: 46px 25px 25px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .profit-item:nth-child(-n+2) {
    border-bottom: 1px solid #2f52b0;
  }
  .profit-item:nth-child(2n) {
    border-left: 1px solid #2f52b0;
  }
}
.profit-item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 65px;
  height: 52px;
  margin-right: 20px;
  background-image: url(/profit-1.f51f4d52.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 768px) {
  .profit-item::before {
    margin-left: 0;
    margin-bottom: 40px;
    width: 100%;
    height: 70px;
  }
}
.profit-item:nth-child(2):before {
  background-image: url(/profit-2.db7d3fae.svg);
}
.profit-item:nth-child(3):before {
  background-image: url(/profit-3.f2385c8e.svg);
}
.profit-item:nth-child(4):before {
  background-image: url(/profit-4.468e0533.svg);
}

.offer {
  background-image: linear-gradient(to top, var(--dark-bg) 0, var(--dark-bg) 150px, white 150px, white 100%);
  padding-bottom: 0;
}
.offer .content-box {
  position: relative;
}
.offer .content-box:first-child {
  margin-bottom: 100px;
}
@media (min-width: 1280px) {
  .offer .content-box:last-child {
    padding-left: 100px;
  }
}
.offer .small-title:not(:last-child) {
  margin-bottom: 30px;
}
.offer .offer-title-icon:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-top: 116px;
  margin-bottom: 50px;
  background-image: url(/offer-icon.9b4a1bfd.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.offer .btn {
  margin-bottom: 100px;
}

.offer .round-parallax {
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  display: block;
  width: 142px;
}
@media (min-width: 768px) {
  .offer .round-parallax {
    right: 110px;
  }
}
@media (min-width: 1280px) {
  .offer .round-parallax {
    right: 0;
    width: 243px;
  }
}

.why {
  background-color: var(--dark-bg);
  color: #ffffff;
}
@media (min-width: 1280px) {
  .why {
    padding-top: 0;
  }
}

.why-list {
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  .why-list {
    padding-top: 100px;
  }
}

.why-item {
  position: relative;
  padding-left: 100px;
}
.why-item:not(:last-child) {
  margin-bottom: 70px;
}
@media (min-width: 1280px) {
  .why-item {
    width: calc((100% - 30px) / 12 * 5);
  }
  .why-item:nth-child(odd) {
    margin-right: 30px;
  }
  .why-item:nth-last-child(-n+2) {
    margin-bottom: 70px;
  }
}
.why-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 60px;
  background-image: url(/why-1.427fda62.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.why-item:nth-child(2)::before {
  background-image: url(/why-2.dab48463.png);
}
.why-item:nth-child(3)::before {
  background-image: url(/why-3.c0997f92.png);
}
.why-item:nth-child(4)::before {
  background-image: url(/why-4.03ba2591.png);
}
.why-item .accent-text {
  font-weight: 700;
  font-size: 20px;
}

.pains {
  background-color: var(--navy);
  color: #fff;
}
.pains .content-box:last-child {
  padding-top: 70px;
}
@media (min-width: 1280px) {
  .pains .content-box:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
  }
}

.title-icon:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
  background-image: url(/pains-icon.67334fbc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pains-item {
  display: flex;
  align-items: center;
}
.pains-item:not(:last-child) {
  margin-bottom: 30px;
}
.pains-item:before {
  content: "";
  flex-shrink: 0;
  width: 70px;
  height: 54px;
  margin-right: 30px;
  background-image: url(/pains-icon.c2e21532.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.problems {
  padding-bottom: 0;
}

.problems .section-title {
  width: calc((100% - 30px) / 12 * 5);
}

.problems-bg {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 100%), url(/pattern.8f7299fd.svg);
}

.problems-item {
  padding: 60px 20px;
  color: #fff;
  background-color: var(--dark-bg);
  box-shadow: 0px 10px 40px var(--blue);
}
@media (min-width: 768px) {
  .problems-item {
    --grid-item: 2;
  }
}
@media (min-width: 1280px) {
  .problems-item {
    --grid-item: 3;
  }
  .problems-item:nth-child(3n+1) {
    transform: translateX(-40px);
  }
  .problems-item:nth-child(3n) {
    transform: translateX(40px);
  }
}

.dialog-item {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.43;
  color: #fff;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 15px;
}

.dialog-item-left {
  padding-left: 38px;
}
.dialog-item-left .dialog-img {
  left: 0;
}

.dialog-item-right {
  flex-direction: row-reverse;
  padding-right: 38px;
}
.dialog-item-right .dialog-img {
  right: 0;
}
.dialog-item-right .dialog-reaction {
  margin-right: 4px;
}
.dialog-item-right .talk-bubble {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 24px 0px 24px 24px;
}

.dialog-img {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}

.dialog-reaction {
  flex-shrink: 0;
  background: #032068;
  box-shadow: 0px 10px 40px #032068;
  border-radius: 24px;
  margin-left: 4px;
  padding: 4px 6px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.talk-bubble {
  --bubble-color: #1868fb;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.16), 0px -1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 0px 24px 24px 24px;
  background-color: var(--bubble-color);
  padding: 12px 20px;
}
.talk-bubble.red {
  --bubble-color: #c04840;
}
.talk-bubble.green {
  --bubble-color: #00bf9d;
}
.talk-bubble.purple {
  --bubble-color: #8d79c3;
}

.sticker {
  display: block;
  position: relative;
  top: 15px;
  left: 40px;
}

.advantages-list {
  padding-top: 50px;
  --grid-mr-top: 40px;
}

.advantages-item {
  position: relative;
  --grid-mr-top: 40px;
}
@media (min-width: 768px) {
  .advantages-item {
    display: flex;
    align-items: center;
    --grid-mr-top: 44px;
  }
}
@media (min-width: 1280px) {
  .advantages-item {
    --grid-item: 2;
  }
}
.advantages-item:before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 90px;
  height: 40px;
  margin-bottom: 30px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 50%, 100% 50%;
  background-image: url(/1.c1564dcd.png), url(/1em.adf5eb9c.png);
  background-size: contain;
}
@media (min-width: 768px) {
  .advantages-item:before {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .advantages-item:nth-child(2) {
    order: 3;
  }
}
.advantages-item:nth-child(2)::before {
  background-image: url(/2.65469337.png), url(/2em.0c856c75.png);
}
@media (min-width: 1280px) {
  .advantages-item:nth-child(3) {
    order: 5;
  }
}
.advantages-item:nth-child(3)::before {
  background-image: url(/3.4c8569c5.png), url(/3em.5ed06f3e.png);
}
@media (min-width: 1280px) {
  .advantages-item:nth-child(4) {
    order: 2;
  }
}
.advantages-item:nth-child(4)::before {
  background-image: url(/4.63426397.png), url(/4em.a5401a31.png);
}
@media (min-width: 1280px) {
  .advantages-item:nth-child(5) {
    order: 4;
  }
}
.advantages-item:nth-child(5)::before {
  background-image: url(/5.554af18d.png), url(/rocket.4aa21986.png);
}
@media (min-width: 1280px) {
  .advantages-item:nth-child(6) {
    order: 6;
  }
}
.advantages-item:nth-child(6)::before {
  background-image: url(/6.502db5b8.png), url(/6em.8c2c2bcd.png);
}

.sponsors {
  position: relative;
  padding-bottom: 50px;
  background-image: linear-gradient(to top, white 0, white 140px, #eef4fa 140px, #eef4fa 100%);
}
@media (min-width: 1280px) {
  .sponsors {
    background-image: linear-gradient(to top, white 0, white 75px, #eef4fa 75px, #eef4fa 100%);
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .sponsors .content-box:first-child {
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .sponsors {
    padding-bottom: 50px;
  }
}
.sponsors .container {
  position: relative;
}

.sponsors-img-wrap {
  position: relative;
}
.sponsors-img-wrap .round-parallax {
  bottom: 0px;
  left: 46px;
  display: block;
  width: 145px;
}
@media (min-width: 480px) {
  .sponsors-img-wrap .round-parallax {
    bottom: 30px;
    left: 100px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .sponsors-img-wrap .round-parallax {
    left: 185px;
    width: 258px;
  }
}
@media (min-width: 1280px) {
  .sponsors-img-wrap .round-parallax {
    left: 125px;
  }
}

@media (max-width: 767.98px) {
  .sponsors-img-wrap {
    transform: translateY(50px);
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .sponsors-img {
    margin: 0 auto;
  }
}
.sponsors-item:not(:last-child) {
  margin-bottom: 30px;
}
.sponsors-item > p:not(:last-child) {
  margin-bottom: 30px;
}
.sponsors-item .sponsors-title-icon {
  margin-left: 5px;
}

.title-dark {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  background-color: var(--main-text-cl);
  color: #fff;
}

.about {
  padding-bottom: 50px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .about-list {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .about-list {
    justify-content: space-between;
  }
}

.about-item {
  display: flex;
  align-items: flex-end;
  max-width: 180px;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .about-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .about-item {
    flex-basis: calc(100% / 3);
  }
}
@media (min-width: 1280px) {
  .about-item {
    flex-basis: calc((100% - 30px * 2) / 12 * 3);
    max-width: 100%;
  }
  .about-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about picture {
  width: 65px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .about picture {
    flex-shrink: 0;
  }
}
@media (min-width: 1280px) {
  .about picture {
    width: auto;
    margin-right: 0;
  }
}

.speakers-label {
  background-color: var(--accent-cl);
  color: #fff;
  padding-top: 26px;
  padding-bottom: 26px;
}
.speakers-label-text {
  position: relative;
  font-weight: 700;
}
@media (min-width: 768px) {
  .speakers-label-text {
    padding-left: 94px;
  }
}
.speakers-label-text:before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 35px;
  background-image: url(/rocket.4aa21986.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 768px) {
  .speakers-label-text:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
  }
}

.speakers-list {
  padding-top: 50px;
}

.speakers-item {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #bdbdbd;
}
@media (min-width: 768px) {
  .speakers-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .speakers-item {
    flex-wrap: wrap;
  }
}
.speakers-item:last-child {
  border-bottom: 1px solid #bdbdbd;
}

.tech-item {
  --item-color: var(--accent-cl);
}

.soft-item {
  --item-color: var(--purple);
}

.hr-item {
  --item-color: var(--light-blue);
}

.speakers-img-wrap {
  position: relative;
  flex-shrink: 0;
  margin-right: 30px;
}
@media (min-width: 1280px) {
  .speakers-img-wrap {
    flex-basis: calc((100% - 60px) / 12 * 2);
  }
}
.speakers-img-wrap:before {
  position: absolute;
  left: 0;
  bottom: 10px;
  padding: 2px 20px 2px 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}
.tech-item .speakers-img-wrap:before {
  content: "Tech";
  background-image: url(/lable-tech.74774408.svg);
}
.soft-item .speakers-img-wrap:before {
  content: "Soft";
  background-image: url(/lable-soft.08a5d2db.svg);
}
.hr-item .speakers-img-wrap:before {
  content: "HR";
  background-image: url(/lable-hr.42478661.svg);
}

.speakers-content {
  flex-grow: 1;
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .speakers-content {
    order: 3;
    width: 100%;
  }
}

.speakers-theme,
.speakers-title-label {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 25px;
  color: var(--item-color);
}

.speakers-title-label {
  color: var(--main-text);
}

.speakers-link {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  font-weight: 700;
  padding-left: 42px;
}
.speakers-link:hover, .speakers-link:focus {
  color: var(--blue);
}

.speakers-link-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
}

.speakers-position {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
}

.speakers-time {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  order: 2;
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .speakers-time {
    padding-top: 20px;
  }
}
@media (min-width: 1280px) {
  .speakers-time {
    flex-basis: calc((100% - 60px) / 12 * 3);
    margin-left: 30px;
  }
}

.speakers-item-column:not(:last-child) {
  margin-bottom: 50px;
}
@media (min-width: 1280px) {
  .speakers-item-column:not(:last-child) {
    margin-bottom: 0;
  }
}

.benefits {
  background-color: var(--dark-bg);
  color: #fff;
}

.benefits-list {
  padding-top: 30px;
  counter-reset: item;
}

.benefits-item {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .benefits-item {
    --grid-item: 2;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .benefits-item {
    --grid-item: 3;
    padding-top: 50px;
    padding-bottom: 24px;
  }
}
.benefits-item::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 200px;
  line-height: 0.74;
  color: var(--blue);
  opacity: 0.5;
  z-index: 1;
}
.benefits-item > p {
  position: relative;
  z-index: 2;
}
.benefits-item > p::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  transform: translate(-100%, 3px);
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid var(--accent-cl);
  border-bottom: 7px solid transparent;
}

.what-next {
  background-color: var(--navy);
  color: white;
}
.what-next .section-title {
  margin-bottom: 70px;
}
.what-next .small-title {
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.85;
}

.paths {
  margin-bottom: 100px;
}

@media (min-width: 1280px) {
  .paths-list {
    display: flex;
    justify-content: center;
  }
}

.paths-item {
  --pd: 90px;
  --ps-offset: 30px;
  position: relative;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .paths-item {
    font-size: 14px;
    padding: 30px 20px;
  }
}
.paths-item:not(:last-child) {
  margin-bottom: 40px;
}
@media (min-width: 1280px) {
  .paths-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .paths-item {
    --pd: 200px;
    --ps-offset: 15%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .paths-item {
    flex-basis: calc((100% - 30px) / 12 * 5);
  }
}
.paths-item:after, .paths-item:before {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 768px) {
  .paths-item:after, .paths-item:before {
    font-size: 75px;
  }
}

.paths-item-left {
  padding-left: var(--pd);
  background-image: url(/path-white-bg.94d223dc.svg);
  background-position: 0% 50%;
  color: var(--main-text-cl);
}
@media (min-width: 1280px) {
  .paths-item-left {
    margin-right: 30px;
  }
}
.paths-item-left::before {
  content: "01";
  left: var(--ps-offset);
  color: #101010;
}

.paths-item-right {
  padding-right: var(--pd);
  background-image: url(/path-orange-bg.c70ad6e6.svg);
  background-position: 100% 50%;
}
.paths-item-right::after {
  content: "02";
  right: var(--ps-offset);
  color: inherit;
}

@media (min-width: 768px) {
  .steps-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.steps-item {
  position: relative;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .steps-item {
    width: calc(100% / 3);
  }
}
@media (min-width: 1280px) {
  .steps-item {
    width: calc(100% / 6);
  }
}
@media (max-width: 767.98px) {
  .steps-item:not(:last-child),
.steps-item .steps-content-left {
    margin-bottom: 130px;
  }
  .steps-item:not(:last-child):after,
.steps-item .steps-content-left:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 60px;
    height: 12px;
    transform: translateX(-50%) rotate(90deg) translateX(100%);
    background-image: url(/arrow.9a5119e9.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .steps-item:not(:last-child) .subtitle::after,
.steps-item .steps-content-left .subtitle::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    width: 60px;
    height: 12px;
    transform: translate(50%, -50%);
    background-image: url(/arrow.9a5119e9.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .steps-item:first-child {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .steps-item:first-child {
    margin-bottom: 120px;
  }
  .steps-item:first-child .subtitle:after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 60px;
    height: 12px;
    transform: translateX(-50%) rotate(90deg) translateX(150%);
    background-image: url(/arrow.9a5119e9.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) {
  .steps-item:first-child {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .steps-item:first-child .subtitle::after {
    background-image: url(/arrow-dots.f59c6f2d.svg), url(/arrow.9a5119e9.svg);
    background-position: 0 50%, 100% 50%;
    width: 400px;
    transform: translate(100%, -50%);
  }
}
.steps-item .subtitle {
  position: relative;
}

.steps-content-left {
  position: relative;
}
@media (min-width: 768px) {
  .steps-content-left {
    width: calc((100% - 30px) / 3);
    flex-shrink: 0;
  }
  .steps-content-left .steps-img {
    margin-bottom: 86px;
  }
}

.steps-content-right {
  text-align: left;
}
@media (min-width: 768px) {
  .steps-content-right {
    align-content: flex-start;
    transform: translateY(-15px);
  }
}
@media (min-width: 1280px) {
  .steps-content-right {
    transform: translateY(-35px);
  }
}

.steps-img {
  display: inline-block;
  margin-bottom: 20px;
}

.steps-subtitle {
  line-height: 1.4;
  margin-bottom: 10px;
}

.steps-sublist {
  padding-left: 20px;
}

.steps-subitem {
  position: relative;
  line-height: 1.5;
}
.steps-subitem::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  transform: translate(-100%, 6px);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 7px solid var(--accent-cl);
  border-bottom: 5px solid transparent;
}

.book {
  text-align: center;
  padding: 50px 0;
}

.footer {
  background: var(--footer-bg);
  color: var(--dark-bg-text);
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 14px;
  line-height: 1.214;
}

.widget-area {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media (max-width: 767.98px) {
  .widget-box:first-child {
    width: 100%;
  }
  .widget-box:nth-child(2), .widget-box:nth-child(3) {
    width: 50%;
  }
  .widget-box:last-child {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .widget-box {
    --grid-item: 4;
  }
}

.widget-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */