:root {
  --accent-cl: #ff6c00;
  --accent-dark-cl: #d14a00;
  --main-text-cl: #101010;
  --purple: rgba(141, 121, 195, 1);
  --light-blue: hsl(205, 92%, 56%);
  --blue: #032068;
  --navy: #071a4b;
  --dark-bg: #04102f;
  --dark-bg-text: #798dc3;
  --footer-bg: #01091e;

  --grid-item: 1;
  --grid-mr-left: 30px;
  --grid-mr-top: 30px;
}
