:root {
  --accent-cl: rgba(255, 108, 0, 1);
  --accent-dark-cl: rgb(236, 100, 3);
  --main-text-cl: rgb(16, 16, 16);
  --purple: rgba(141, 121, 195, 1);
  --light-blue: rgba(39, 159, 246, 1);
  --blue: #032068;
  --navy: #071a4b;
  --dark-bg: #04102f;
  --dark-bg-text: #798dc3;
  --footer-bg: rgb(1, 9, 30);

  --grid-item: 1;
  --grid-mr: 30px;
}
