<section class="about">
  <div class="container">
    <h2 class="title section-title visually-hidden">Награды GoIT</h2>
    <ul class="list about-list">
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/aw-1-lg.webp 1x, ./images/awards/aw-1@2x.webp 2x"
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source srcset="./images/awards/aw-1-md.webp 1x, ./images/awards/aw-1-md@2x.webp 2x" type="image/webp" />

          <source srcset="./images/awards/aw-1-lg.png 1x, ./images/awards/aw-1@2x.png 2x" media="(min-width: 1280px)" />
          <source srcset="./images/awards/aw-1-md.png 1x, ./images/awards/aw-1-md@2x.png 2x" />
          <img src="./images/awards/aw-1-lg.png" class="about-img" width="168" height="216" alt="" />
        </picture>

        <p>BEST IT EDUCATION 2015</p>
      </li>
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/aw-2-lg.webp 1x, ./images/awards/aw-2@2x.webp 2x"
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source srcset="./images/awards/aw-2-md.webp 1x, ./images/awards/aw-2-md@2x.webp 2x" type="image/webp" />

          <source srcset="./images/awards/aw-2-lg.png 1x, ./images/awards/aw-2@2x.png 2x" media="(min-width: 1280px)" />
          <source srcset="./images/awards/aw-2-md.png 1x, ./images/awards/aw-2-md@2x.png 2x" />
          <img src="./images/awards/aw-2-lg.png" class="about-img" width="168" height="216" alt="" />
        </picture>

        <p>UKRAINIAN IT AWARDS 2016</p>
      </li>
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/aw-3-lg.webp 1x, ./images/awards/aw-3@2x.webp 2x"
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source srcset="./images/awards/aw-3-md.webp 1x, ./images/awards/aw-3-md@2x.webp 2x" type="image/webp" />

          <source srcset="./images/awards/aw-3-lg.png 1x, ./images/awards/aw-3@2x.png 2x" media="(min-width: 1280px)" />
          <source srcset="./images/awards/aw-3-md.png 1x, ./images/awards/aw-3-md@2x.png 2x" />
          <source srcset="./images/awards/aw-3-lg.png 1x, ./images/awards/aw-3@2x.png 2x" media="(min-width: 1280px)" />
          <source srcset="./images/awards/aw-3-md.png 1x, ./images/awards/aw-3-md@2x.png 2x" />
          <img src="./images/awards/aw-3-lg.png" class="about-img" width="168" height="216" alt="" />
        </picture>

        <p>УКРАИНСКАЯ НАРОДНАЯ ПРЕМИЯ</p>
      </li>
    </ul>
  </div>
</section>
