<section class="about">
  <div class="container">
    <h2 class="title section-title visually-hidden">Награды GoIT</h2>
    <ul class="list about-list">
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/education-lg.png 1x, ./images/awards/education.png 2x"
            media="(min-width: 1280px)"
          />
          <source srcset="./images/awards/education-sm+md.png 1x, ./images/awards/education-lg.png 2x" />
          <img src="./images/awards/education-lg.png" width="168" alt="" class="about-img" />
        </picture>

        <p>BEST IT EDUCATION 2015</p>
      </li>
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/awards-lg.png 1x, ./images/awards/awards.png 2x"
            media="(min-width: 1280px)"
          />
          <source srcset="./images/awards/awards-sm+md.png 1x, ./images/awards/awards-lg.png 2x" />
          <img src="./images/awards/education-lg.png" width="168" alt="" class="about-img" />
        </picture>
        <p>UKRAINIAN IT AWARDS 2016</p>
      </li>
      <li class="about-item">
        <picture>
          <source
            srcset="./images/awards/coins-lg.png 1x, ./images/awards/coins-lg.png 2x"
            media="(min-width: 1280px)"
          />
          <source srcset="./images/awards/coins-sm+md.png 1x, ./images/awards/coins-lg.png 2x" />
          <img src="./images/awards/education-lg.png" width="168" alt="" class="about-img" />
        </picture>
        <p>УКРАИНСКАЯ НАРОДНАЯ ПРЕМИЯ</p>
      </li>
    </ul>
  </div>
</section>
