<section class="section advantages">
  <div class="container">
    <h2 class="title section-title">[На IT Fest ты]</h2>
    <ul class="list grid advantages-list">
      <li class="grid-item advantages-item">Познакомишься с разработчиками, которые кайфуют от своей работы</li>
      <li class="grid-item advantages-item">Получишь инструменты для начала работы с кодом</li>
      <li class="grid-item advantages-item">Узнаешь, какое направление в IT будет востребованным и через 5-10 лет</li>
      <li class="grid-item advantages-item">Сможешь задать вопросы разработчикам и HR о трудоустройстве</li>
      <li class="grid-item advantages-item">Получишь план развития з нуля до уровня Senior Developer</li>
      <li class="grid-item advantages-item">Пообщаешься с теми, кто нашел работу в IT и запустил свой стартап</li>
    </ul>
  </div>
</section>
