<section class="section benefits">
  <div class="container">
    <h2 class="title section-title">[ После IT Fest у вас будет: ]</h2>
    <ul class="list grid benefits-list">
      <li class="grid-item benefits-item">
        <p>Четкое понимание, что такое ІТ-сфера и почему все так хотят попасть в ІТ</p>
      </li>
      <li class="grid-item benefits-item">
        <p>План действий от уровня “хочу сменить работу” до “Senior Developer”</p>
      </li>
      <li class="grid-item benefits-item">
        <p>Знания о прохождении собеседований</p>
      </li>
      <li class="grid-item benefits-item">
        <p>Шаблон идеального резюме</p>
      </li>
      <li class="grid-item benefits-item">
        <p>Примеры стартапов в Украине и истории успеха выпускников</p>
      </li>
    </ul>
  </div>
</section>