<footer class="footer">
  <div class="container">
    <ul class="list grid widget-area">
      <li class="grid-item widget-box">
        <a href="./" class="logo">
          <img src="./images/logo.svg" loading="lazy" width="100" height="30" alt="Лого Гоу Айти" />
        </a>
      </li>
      <li class="grid-item widget-box">
        <h2 class="widget-title">Адрес:</h2>
        <a href="https://goo.gl/maps/VBTuarmGm1gPwsQr7" target="_blank" rel="noopener noreferrer nofollow" class="link"
          >Киев. ул. Евгения<br />
          Коновальца, 36-Е</a
        >
      </li>
      <li class="grid-item widget-box">
        <h2 class="widget-title">goit</h2>
        <ul class="list">
          <li><a href="mailto:info@goit.ua" class="link">info@goit.ua</a></li>
          <li><a href="tel:+380503661777" class="link">050 366 17 77</a></li>
          <li><a href="tel:+380673269592" class="link">067 326 95 92</a></li>
        </ul>
      </li>
      <li class="grid-item widget-box">
        <ul class="list socials-list">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/goITclub"
              class="link socials-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >[ Facebook ]</a
            >
          </li>
          <li class="socials-item">
            <a
              href="https://t.me/junior_developer_ua"
              class="link socials-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >[ Telegram ]
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/goitclub"
              class="link socials-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              [ Instagram ]
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="link socials-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              [ Youtube ]</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
