<header class="hero-header">
  <div class="top-panel">
    <div class="container">
      <a href="./" class="logo">
        <img src="./images/logo-dark.svg" class="logo-img" width="100" height="30" loading="lazy" alt="лого Гоу Айти" />
      </a>
      <ul class="list menu">
        <li class="menu-item"><a href="#info" class="link menu-link">Инфо</a></li>
        <li class="menu-item"><a href="#why" class="link menu-link">почему IT?</a></li>
        <li class="menu-item"><a href="#sponsors" class="link menu-link">организаторы</a></li>
        <li class="menu-item"><a href="#speakers" class="link menu-link">спикеры</a></li>
      </ul>
      <button class="btn btn-transparent" type="button">
        <span>зарегистрироваться</span>
        <svg class="btn-icon" width="14" height="18">
          <use href="./images/sprite.svg#icon-fire"></use>
        </svg>
      </button>
      <button class="hamburger hamburger--spring mmenu-btn" type="button" data-modal-btn>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <include src="./partials/mobile-menu.html"></include>
  <div class="container">
    <div class="hero-content">
      <span class="hero-label">[ ONLINE ] </span>
      <span class="hero-date">13_Марта_2021</span>
      <h1 class="title hero-title">[ IT FEST ]</h1>
      <p class="hero-description">/Конференция, которая объединяет будущих разработчиков</p>

      <button class="btn btn-accent btn-modal js-btn--fly" type="button">
        <span class="btn-text">Забронировать место</span>
        <svg class="btn-icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg>
      </button>
    </div>
    <video poster="./images/video/poster.jpg" width="470" height="303" autoplay muted controls loop preload="auto"
      class="hero-video">
      <source src="./images/video/fest.webm" type="video/webm" />
      <source src="./images/video/fest.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="kinetic-content">
    <div id="webgl"></div>
  </div>
</header>