<header class="hero-header">
  <div class="top-panel">
    <div class="container">
      <a href="./" class="logo">
        <img src="./images/logo-dark.png" class="logo-img" width="100" height="30" loading="lazy" alt="лого Гоу Айти" />
      </a>
      <ul class="list menu">
        <li class="menu-item"><a href="" class="link menu-link">Инфо</a></li>
        <li class="menu-item"><a href="" class="link menu-link">почему IT?</a></li>
        <li class="menu-item"><a href="" class="link menu-link">организаторы</a></li>
        <li class="menu-item"><a href="" class="link menu-link">спикеры</a></li>
      </ul>
      <button class="btn btn-transparent">зарегистрироваться</button>
    </div>
  </div>
  <div class="container">
    <div class="hero-content">
      <span class="hero-label">[ ONLINE ] </span>
      <span class="hero-date">13_Марта_2021</span>
      <h1 class="title hero-title">[ IT FEST ]</h1>
      <p class="hero-description">/Конференция, которая объединяет будущих разработчиков</p>
    </div>
  </div>
</header>
