<div class="mobile-menu" data-menu>
  <ul class="list menu">
    <li class="menu-item"><a href="" class="link menu-link">Инфо</a></li>
    <li class="menu-item"><a href="" class="link menu-link">почему IT?</a></li>
    <li class="menu-item"><a href="" class="link menu-link">организаторы</a></li>
    <li class="menu-item"><a href="" class="link menu-link">спикеры</a></li>
  </ul>
  <button class="btn btn-transparent">
    <span> зарегистрироваться</span>
    <svg class="btn-icon" width="14" height="18">
      <use href="./images/sprite.svg#icon-fire"></use>
    </svg>
  </button>
</div>
