<section class="section offer">
  <div class="container flexbox">
    <div class="content-box">
      <h2 class="title section-title accent-text">[ой все]</h2>
      <p class="title small-title">
        Уже год мы не собирались на офлайн-конференциях для обмена знаниями и ради новых знакомств.
      </p>
      <p class="title small-title ">
        Но на YouTube-конференции IT Fest мы <span class="accent-text">бесплатно</span> дадим то, по чему вы так скучали
        весь год.
      </p>
    </div>
    <div class="content-box">
      <p class="title section-title accent-text offer-title-icon">[Оставить заявку на IT-Fest]</p>
      <button class="btn" type="button">Забронировать место</button>
    </div>
  </div>
</section>
