<section class="section offer">
  <div class="container flexbox">
    <div class="content-box">
      <h2 class="title section-title accent-text">[ой все]</h2>
      <p class="title small-title">
        Уже год мы не собирались на офлайн-конференциях для обмена знаниями и ради новых знакомств.
      </p>
      <p class="title small-title ">
        Но на YouTube-конференции IT Fest мы <span class="accent-text">бесплатно</span> дадим то, по чему вы так скучали
        весь год.
      </p>
    </div>
    <div class="content-box">
      <p class="title section-title accent-text offer-title-icon">[Оставить заявку на IT-Fest]</p>
      <button class="btn btn-accent btn-modal" type="button">
        <span>Забронировать место</span>
        <svg class="btn-icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-telegram"></use>
        </svg>
      </button>

      <picture>
        <source
          srcset="./images/ifest+photo/pic2-md.webp 1x, ./images/ifest+photo/pic2-md_2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="./images/ifest+photo/pic2-sm.webp 1x, ./images/ifest+photo/pic2-sm_2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/ifest+photo/pic2-md.jpg 1x, ./images/ifest+photo/pic2-md_2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source srcset="./images/ifest+photo/pic2-sm.jpg 1x, ./images/ifest+photo/pic2-sm_2x.jpg 2x" />
        <img src="./images/ifest+photo/pic2-md.jpg" class="offer-image img-shadow" width="470" alt="" />
      </picture>
    </div>
  </div>
</section>
