<section class="section problems">
  <div class="container">
    <h2 class="title section-title small-title">
      [Проблемы, с которыми часто сталкиваются <span class="accent-text">новички</span> в IT-сфере]
    </h2>
  </div>
  <div class="section problems-bg">
    <div class="container">
      <ul class="list grid problems-list">
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
        <li class="grid-item problems-item">Lorem ipsum dolor sit amet.</li>
      </ul>
    </div>
  </div>
</section>
