<section class="section problems">
  <div class="container">
    <h2 class="title section-title small-title">
      [Проблемы, с которыми часто сталкиваются <span class="accent-text">новички</span> в IT-сфере]
    </h2>
  </div>
  <div class="section problems-bg">
    <div class="container">
      <ul class="list grid problems-list">
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble red">Мне интересна IT-сфера, но не знаю с чего начать</div>
            <div class="dialog-reaction">🙈1</div>
          </div>
          <div class="dialog-item dialog-item-right">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble green">Самообучение или курсы? - что выбрать</div>
            <div class="dialog-reaction">😍21</div>
          </div>
        </li>
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble">Я не могу выбрать подходящее IT-направление, чтобы мне оно было интересным</div>
          </div>
          <div class="dialog-item dialog-item-left">
            <div class="talk-bubble">Front End или Back End? Какая разница?</div>
          </div>
          <div class="dialog-item dialog-item-left">
            <div class="talk-bubble">Кто такой QA?</div>
          </div>
        </li>
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble">Что за чем учить?</div>
          </div>
          <svg class="sticker" width="143" height="157">
            <use href="./images/sprite.svg#icon-sticker"></use>
          </svg>
        </li>
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble">Начинал изучать теорию, но боюсь приступить к практике</div>
          </div>
          <div class="dialog-item dialog-item-left">
            <div class="talk-bubble">Уже читаю статьи в Telegram, но не знаю, как начать кодить</div>
          </div>
          <div class="dialog-item dialog-item-left">
            <div class="talk-bubble">Открывал 2 книги по программированию и не понимал, что происходит</div>
          </div>
        </li>
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble">Кому показать свой код, чтобы указали на ошибки?</div>
          </div>
          <div class="dialog-item dialog-item-right">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble green">Где получить совет от опытного разработчика?</div>
            <div class="dialog-reaction">🙈3</div>
          </div>
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble red">Мне нужен наставник</div>
            <div class="dialog-reaction">😍23</div>
          </div>
        </li>
        <li class="grid-item problems-item">
          <div class="dialog-item dialog-item-left">
            <img src="./images/emoji/what-3.png" alt="" class="dialog-img" />
            <div class="talk-bubble purple">
              Начинал верстать по видео на YouTube, но так и не закончил свой первый проект 😭😭😭😭😭😭😭
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
