<section class="section profit">
  <div class="container flexbox">
    <div class="content-box">
      <h2 class="title section-title">[&nbsp;Что ты получишь на IT-Fest?&nbsp;]</h2>
    </div>
    <div class="content-box">
      <img src="./images/round.svg" class="round-parallax" alt="" />
      <ul class="list profit-list">
        <li class="profit-item">
          <p>План действий с нуля до Senior-разработчика</p>
        </li>
        <li class="profit-item">
          <p>Общение с тысячами новичков и истории успеха от тех, кто уже работает в IT</p>
        </li>
        <li class="profit-item">
          <p>Практические советы о переходе на работу с зарплатой в 7 раз выше средней по стране</p>
        </li>
        <li class="profit-item">
          <p>Воркшоп по поиску работы в IT-сфере</p>
        </li>
      </ul>
    </div>
  </div>
</section>