<section class="speakers">
  <div class="speakers-label">
    <div class="container">
      <p class="speakers-label-text">
        Чтобы сделать IT Fest максимально интересным, мы пригласили наших вау-преподавателей, выпускников и друзей из
        ТОП-овых IT-компаний:
      </p>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="title section-title">[спикеры]</h2>
      <ul class="list grid speakers-list">
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/ivan-lapa.jpg" width="170" alt="Ваня Лапа" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Как сохранить Work/life баланс, работая разработчиком и обучая других?</h3>
            <p>
              О работе в продуктовой IT-компании, путешествиях, занятиях мотоспортом и обучении 5 поколений
              разработчиков среди своих друзей
            </p>
            <a
              href="https://www.linkedin.com/in/ivan-lapa-66903ab7/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Ваня Лапа</p>
              <p class="speakers-position">Datarobot, Front End Teamlead</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">10:25-10:55</div>
        </li>
        <li class="grid-item speakers-item soft-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/oleg-kustov.jpg" width="170" alt="Олег Кустов" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">5 советов новичкам, которые хотят попасть в компанию ТОП-уровня</h3>
            <p>Как в начале учиться в двух IT-академиях, а потом обучать тысячи студентов в год</p>

            <a
              href="https://www.linkedin.com/in/oleh-kustov-b9309531/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Олег Кустов</p>
              <p class="speakers-position">EPAM University, Координатор Frontend-направления</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">11:00-11:30</div>
        </li>
        <!-- <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/oleg-kustov.png" width="170" alt="Олег Кустов" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme"></h3>
            <p></p>
            <a href="#" class="link speakers-link" target="_blank" rel="noopener noreferrer">
              <p></p>
              <p class="speakers-position"></p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time"></div>
        </li> -->
        <li class="grid-item speakers-item soft-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img
              src="./images/speakers/natalia-dmytrenko.jpg"
              width="170"
              alt="Наташа Дмитренко"
              class="speakers-img"
            />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Изменения в ІТ сфере за 2020 год и какой будет работа в 2021</h3>
            <p>
              Поговорим о трендах в коммуникации, которые появились в 2020 году, разберемся какие софт скиллы уже
              актуальны в 2021.
            </p>
            <a
              href="https://www.linkedin.com/in/natashadmytrenko/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Наташа Дмитренко</p>
              <p class="speakers-position">Ciklum, Learning and Development specialist</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">11:35-12:05</div>
        </li>
        <li class="grid-item speakers-item soft-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/sonia-matchenko.jpg" width="170" alt="Соня Матченк" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Какие Soft Skills помогают в построении карьеры в IT</h3>
            <p>
              Как я получила свою первую работу без коммерчиского опыта и как можно не пройти собеседование, ответив на
              все технические вопросы
            </p>
            <a
              href="https://www.linkedin.com/in/sofia-matchenko-804309157/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Соня Матченко</p>
              <p class="speakers-position">Ninety Percent of Everything, Scrum Master</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">12:10-12:40</div>
        </li>
        <li class="grid-item speakers-item hr-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/inga-gadiackaya.jpg" width="170" alt="Инга Гадяцкая" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <p class="speakers-title-label">Воркшоп!</p>
            <h3 class="speakers-theme">
              Руководство к действию: с чего начать поиск работы, после того как резюме готово.
            </h3>
            <p>Как не допустить все ошибки мира при размещении своего резюме на платформах для поиска работы.</p>
            <a
              href="https://www.linkedin.com/in/inga-gadyatska/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Инга Гадяцкая</p>
              <p class="speakers-position">EPAM Systems, Senior Talent Acquisition Specialist</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">12:45-13:15</div>
        </li>
        <li class="grid-item speakers-item soft-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/oksana-lesnyk.jpg" width="170" alt="Оксана Лесник" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Эффективное развитие своих навыков в IT</h3>
            <p>Почему важно прислушиваться к себе, использовать возможности и постоянно развиваться</p>

            <a
              href="https://www.linkedin.com/in/oksana-lesnik/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Оксана Лесник</p>
              <p class="speakers-position">Softserve, Project Manager</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">13:20-14:00</div>
        </li>
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/artur-kuzniecov.jpg" width="170" alt="Артур Кузнецов" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Как себя вести на 1 работе, чтобы не уволили через месяц</h3>
            <p>История о том, что берут на работу за знания и навыки, а увольняют за поведение</p>
            <a
              href="https://www.linkedin.com/in/arthur-kuznetsov-83280813b/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Артур Кузнецов</p>
              <p class="speakers-position">Wargaming, Front End Developer</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">14:05-14:35</div>
        </li>
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/dmitrii-selin.jpg" width="170" alt="Дмитрий Селинв" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Факапы Senior'ов</h3>
            <p>История о том, что не Боги горшки обжигают и все мы учимся на своих факапах</p>
            <a
              href="https://www.linkedin.com/in/dmitry-selin/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Дмитрий Селин</p>
              <p class="speakers-position">Facebook, Software Engineer</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">15:15-15:45</div>
        </li>
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/andrey-shtadler.jpg" width="170" alt="Андрей Штадлер" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Градация уровней разработчика: Junior, Middle и Senior</h3>
            <p>Как различать уровни разработчика и понять, что ты уже дорос до джуна</p>
            <a
              href="https://www.linkedin.com/in/andriis/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Андрей Штадлер</p>
              <p class="speakers-position">EPAM, Senior JavaScript Software Engineer</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">14:05-14:35</div>
        </li>
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/vova-melnyk.jpg" width="170" alt="Вова Мельник" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Как запустить свое первое приложение в Apple Store</h3>
            <p>Как собрать команду из своих студентов и запустить мобильное приложение на AppStore</p>
            <a
              href="https://www.linkedin.com/in/vova-melnyk/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Вова Мельник</p>
              <p class="speakers-position">Kidhab, GoIT, Product Owner и JavaScript Developer</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">14:40-15:10</div>
        </li>
        <li class="grid-item speakers-item tech-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/oleksandr-repeta.jpg" width="170" alt="Саша Репета" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">Тренды и актуальные технологии в 2021</h3>
            <p>Что должен знать разработчик и какие подходы использовать, чтобы работать в ТОП-компаниях</p>
            <a
              href="https://www.linkedin.com/in/alex-repeta/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Саша Репета</p>
              <p class="speakers-position">GoIT, Full Stack Developer</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">15:50-16:20</div>
        </li>
        <li class="grid-item speakers-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/anton-chornyi.jpg" width="170" alt="Антон Чёрный" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="speakers-theme">&#10084; Закрытие IT Fest</h3>
            <p>Награждение спикеров и активных участников IT Fest</p>
            <a
              href="https://www.linkedin.com/in/anton-chornyi/"
              class="link speakers-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="speakers-link-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p>Антон Черный</p>
              <p class="speakers-position">CEO GoIT</p>
            </a>
          </div>
          <div class="speakers-item-column speakers-time">16:25-16:55</div>
        </li>
      </ul>
    </div>
  </div>
</section>
