<section class="speakers">
  <div class="speakers-label">
    <div class="container">
      <p class="speakers-label-text">
        Чтобы сделать IT Fest максимально интересным, мы пригласили наших вау-преподавателей, выпускников и друзей из
        ТОП-овых IT-компаний:
      </p>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="title section-title">[спикеры]</h2>
      <ul class="list grid speakers-list">
        <li class="grid-item speakers-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/ivan-lapa.png" width="170" alt="Ваня Лапа" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="title speakers-theme">Как сохранить Work/life баланс, работая разработчиком и обучая других?</h3>
            <p>
              О работе в продуктовой IT-компании, путешествиях, занятиях мотоспортом и обучении 5 поколений
              разработчиков среди своих друзей
            </p>
            <a href="#" class="link speakers-link" target="_blank" rel="noopener noreferrer">Ваня Лапа</a>
            <p class="speakers-position">Datarobot, Front End Teamlead</p>
          </div>
          <div class="speakers-item-column speakers-time">10:25-10:55</div>
        </li>
        <li class="grid-item speakers-item">
          <div class="speakers-item-column speakers-img-wrap">
            <img src="./images/speakers/oleg-kustov.png" width="170" alt="Олег Кустов" class="speakers-img" />
          </div>
          <div class="speakers-item-column speakers-content">
            <h3 class="title speakers-theme">5 советов новичкам, которые хотят попасть в компанию ТОП-уровня</h3>
            <p>Как в начале учиться в двух IT-академиях, а потом обучать тысячи студентов в год</p>
            <a href="" class="link speakers-link" target="_blank" rel="noopener noreferrer">Олег Кустов</a>
            <p class="speakers-position">EPAM University, Координатор Frontend-направления</p>
          </div>
          <div class="speakers-item-column speakers-time">11:35-12:05</div>
        </li>
      </ul>
    </div>
  </div>
</section>
