<section class="section sponsors" id="sponsors">
  <div class="container flexbox">
    <div class="content-box">
      <h2 class="title section-title">[ Организаторы IT Fest ]</h2>
      <ul class="list sponsors-list">
        <li class="sponsors-item">
          <h3 class="title-dark">[ GoIT ]</h3>
          <svg class="sponsors-title-icon" width="16" height="16">
            <use href="./images/sprite.svg#icon-heart"></use>
          </svg>
          <p>Мы международная Edtech компания.</p>

          <p>С 2015 года мы помогает тысячам новичков из 30+ стран получать свою первую работу в IT</p>
        </li>
        <li class="sponsors-item">
          <h3 class="title-dark">[ Команда ]</h3>
          <p>Более 100 практикующих IT-специалистов</p>
        </li>
        <li class="sponsors-item">
          <h3 class="title-dark">[ Студенты ]</h3>
          <p>
            Реализовали более 200 командных проектов за 2020-й год.
          </p>
          <p>
            Мы комплексно подготавливаем к гарантированному трудоустройству в IT: обучаем IT-английскому и работе в
            IT-командах
          </p>
        </li>
      </ul>
    </div>
    <div class="content-box sponsors-img-wrap">
      <picture>
        <source srcset="./images/ifest+photo/pic3.webp 1x, ./images/ifest+photo/pic3.webp 2x" type="image/webp" />
        <source srcset="./images/ifest+photo/pic3.jpg 1x, ./images/ifest+photo/pic3.jpg 2x" />
        <img class="sponsors-img img-shadow" src="./images/ifest+photo/pic3.jpg" width="568" alt="" />
      </picture>
      <img src="./images/round-3.svg" class="round-parallax" alt="" />
    </div>
  </div>
</section>