<section class="section what-is" id="info">
  <div class="container flexbox">
    <div class="what-is-content">
      <h2 class="title section-title accent-text">[Что такое IT-Fest?]</h2>
      <ul class="list what-is-list">
        <li class="what-is-item">
          <span class="item-summary counter" data-targetnum="8" data-speed="1200">0</span><span>спикеров уровня
            Senior</span>
        </li>
        <li class="what-is-item">
          <span class="item-summary counter" data-targetnum="14" data-speed="2000">0</span><span>часов контента</span>
        </li>
        <li class="what-is-item">
          <span class="item-summary counter" data-targetnum="5000" data-speed="3000">0</span><span>участников</span>
        </li>
      </ul>
    </div>
    <div class="what-is-img-wrap">
      <picture>
        <source srcset="./images/ifest+photo/pic1-md.webp 1x, ./images/ifest+photo/pic1-md_2x.webp 2x"
          media="(min-width: 768px)" type="image/webp" />

        <source srcset="./images/ifest+photo/pic1-sm.webp 1x, ./images/ifest+photo/pic1-sm_2x.webp 2x"
          type="image/webp" />

        <source srcset="./images/ifest+photo/pic1-md.jpg 1x, ./images/ifest+photo/pic1-md_2x.jpg 2x"
          media="(min-width: 768px)" />
        <source srcset="./images/ifest+photo/pic1-sm.jpg 1x, ./images/ifest+photo/pic1-sm_2x.jpg 2x" />
        <img src="./images/ifest+photo/pic1-md.jpg" class="offer-image img-shadow" width="470" height="602" alt="" />
      </picture>
    </div>
  </div>
</section>