<section class="section what-is">
  <div class="container">
    <div class="what-is-content">
      <h2 class="title section-title accent-text">[Что такое IT-Fest?]</h2>
      <ul class="list what-is-list">
        <li class="what-is-item"><span class="item-summary">8</span><span>спикеров уровня Senior</span></li>
        <li class="what-is-item"><span class="item-summary">14</span><span>часов контента</span></li>
        <li class="what-is-item"><span class="item-summary">5000</span><span>участников</span></li>
      </ul>
    </div>
  </div>
</section>
