<section class="section what-next">
  <div class="container">
    <h2 class="title section-title">
      [ Что <br />
      дальше? ]
    </h2>
    <section class="paths">
      <h3 class="title small-title">[ У тебя есть <span class="accent-text">два пути</span> развития событий: ]</h3>
      <ul class="list paths-list">
        <li class="paths-item paths-item-left">
          <p>
            Оставить всё как есть и пустить свою жизнь на самотёк. Ничего страшного с тобой не произойдёт — ты не
            станешь бомжом и не умрёшь с голоду, возможно твоя карьера стремительно пойдёт вверх или ты сорвёшь
            Джек-Пот.
          </p>
        </li>
        <li class="paths-item paths-item-right">
          <p>
            Рискнуть и пойти на IT Fest.
            Ты получишь советы для новичков и руководство по поиску работы, узнаешь, какие навыки нужно развивать в IT-
            сфере, получишь план развития от нуля до первой работы, научишься различать градации разработчиков и как
            сохранять Work/life баланс.
          </p>
        </li>
      </ul>
    </section>
    <section class="steps">
      <h3 class="title small-title">[ Тогда твой путь в среднем будет выглядеть вот так: ]</h3>
      <ul class="list steps-list">
        <li class="steps-item">
          <div class="steps-content steps-content-left">
            <picture>
              <source srcset="./images/developers/dev.webp" type="image/webp" />
              <img src="./images/developers/dev.png" alt="" class="steps-img" width="112" />
            </picture>

            <h4 class="subtitle">[ Ты сейчас ]</h4>
          </div>
          <div class="steps-content steps-content-right">
            <p class="title steps-subtitle">1 Шаг</p>
            <ul class="list steps-sublist">
              <li class="steps-subitem">Бесплатная конференция IT Fest</li>
              <li class="steps-subitem">Поймешь, что нужно выучить, чтобы начать работать в IT</li>
              <li class="steps-subitem">Узнаешь о работе в IT от Senior разработчиков</li>
            </ul>
          </div>
        </li>
        <li class="steps-item">
          <picture>
            <source srcset="./images/developers/junior.webp" type="image/webp" />
            <img src="./images/developers/junior.png" alt="" class="steps-img" width="170" />
          </picture>

          <h4 class="subtitle">[ Junior ]</h4>
          <p class="accent-text">$500-800</p>
        </li>
        <li class="steps-item">
          <picture>
            <source srcset="./images/developers/middle.webp" type="image/webp" />
            <img src="./images/developers/middle.png" alt="" class="steps-img" width="170" />
          </picture>

          <h4 class="subtitle">[ Middle ]</h4>
          <p class="accent-text">$800-2150</p>
        </li>
        <li class="steps-item">
          <picture>
            <source srcset="./images/developers/senior.webp" type="image/webp" />
            <img src="./images/developers/senior.png" alt="" class="steps-img" width="170" />
          </picture>

          <h4 class="subtitle">[ Senior ]</h4>
          <p class="accent-text">$2150-4400</p>
        </li>
      </ul>
    </section>
  </div>
</section>