<section class="section why">
  <div class="container">
    <div class="content-box">
      <h2 class="title section-title">[Почему многие так стремятся попасть в IT?]</h2>
    </div>
    <ul class="list flexbox why-list">
      <li class="why-item">
        <h3 class="why-item-title">Высокая зарплата в долларах.</h3>

        <p class="subitem">Начинающий разработчик может рассчитывать на ЗП <span class="accent-text">$800</span></p>
        <p class="subitem">старший специалист – <span class="accent-text">$3800</span></p>
        <p class="subitem">опытный Team Lead – <span class="accent-text">$4300</span></p>
      </li>
      <li class="why-item">
        <h3 class="why-item-title">Карьерный рост зависит только от тебя.</h3>
        <p>Ты двигаешься по карьерной лестнице благодаря навыкам, а не блату, деньгам и связям</p>
      </li>
      <li class="why-item">
        <h3 class="why-item-title">Удобный формат работы</h3>
        <p>
          Гибкий график позволят тебе выбрать наиболее приемлемый режим. Забудь о пробках в 8 утра или 1,5 часовой
          дороги на работу.
        </p>
      </li>
      <li class="why-item">
        <h3 class="why-item-title">Огромные перспективы</h3>
        <p>Даже во время пандемии количество вакансий в IT увеличилось в 3 раза и продолжает расти.</p>
      </li>
    </ul>
  </div>
</section>
