.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--accent-cl);
  transition: 0.3s linear;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-dark-cl);
  }
}
