.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  padding: 13px 14px;
  font-weight: 700;
  font-size: 10px;
  line-height: 3;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 0.3s linear;
  cursor: pointer;
  outline: none;

  @include for-size(mobile) {
    padding: 13px 28px;
    font-size: 12px;
  }

  @include for-size(desktop) {
    font-size: 16px;
    line-height: 2.25;
    padding: 20px 40px;
  }
}

.btn-accent {
  color: #ffffff;
  background-color: var(--accent-cl);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-dark-cl);

    svg {
      transform: rotate(10deg);
      transition: transform 0.15s;
    }
  }
}

.btn-transparent {
  font-size: 14px;
  background-color: transparent;
  color: var(--accent-cl);

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--accent-dark-cl);
  }
}

.js-btn--fly {
  position: relative;
  overflow: visible;

  width: 280px;
  height: 62px;

  font-size: 12px;

  @include for-size(mobile) {
    width: 392px;
    height: 76px;

    font-size: 16px;
  }

  .btn-text {
    margin-right: 38px;
  }

  svg {
    position: absolute;
    top: 14px;
    right: 16px;

    width: auto;
    height: 30px;

    fill: #ffbe93;
    transition: transform 0.15s linear;

    @include for-size(mobile) {
      top: 23px;
      right: 30px;
    }
  }

  &.clicked {
    color: #ffffff;
    line-height: 28px;
    background-color: #d14a00;
    
    @include for-size(mobile) {
      animation: bounce-in 0.3s;
      line-height: 50px;
    }

    svg {
      animation: flyaway 1.3s linear;
    }
  }
}

.btn-icon {
  display: inline-block;
  fill: currentColor;
  margin-left: 14px;
  margin-bottom: 3px;
}

.btn-pos-center {
  margin: 0 auto;
}

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
  }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
    padding-left: 0;
  }
  40% {
    padding-left: 45px;
  }
  80% {
    padding-right: 20px;
  }
  100% {
    padding-right: 0;
  }
}
