.scroll-hidden {
  overflow: hidden;
}
.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0, 0, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.788);
  z-index: 100;
  overflow: auto;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 7px;
  background: #fff;
  outline: none;
  color: var(--dark-bg);

  &:focus {
    border: 1.5px solid rgba(255, 255, 255, 0.75);
  }
}
