@include for-size(mobile-only) {
  .socials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .socials-item {
    width: calc((100% - 20px) / 2);

    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 0;
    }

    &:nth-child(4) {
      order: 2;
    }
  }
}

.socials-item:not(:last-child) {
  margin-bottom: 8px;
}

.socials-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #fff;

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
