.advantages-list {
  padding-top: 50px;
  --grid-mr-top: 40px;
}

.advantages-item {
  position: relative;
  --grid-mr-top: 40px;

  @include for-size(tablet) {
    display: flex;
    align-items: center;
    --grid-mr-top: 44px;
  }

  @include for-size(desktop) {
    --grid-item: 2;
  }

  &:before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 90px;
    height: 40px;
    margin-bottom: 30px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 50%, 100% 50%;
    background-image: url(../images/emoji/1.png), url(../images/emoji/1em.png);
    background-size: contain;

    @include for-size(tablet) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &:nth-child(2) {
    @include for-size(desktop) {
      order: 3;
    }
    &::before {
      background-image: url(../images/emoji/2.png), url(../images/emoji/2em.png);
    }
  }
  &:nth-child(3) {
    @include for-size(desktop) {
      order: 5;
    }
    &::before {
      background-image: url(../images/emoji/3.png), url(../images/emoji/3em.png);
    }
  }
  &:nth-child(4) {
    @include for-size(desktop) {
      order: 2;
    }

    &::before {
      background-image: url(../images/emoji/4.png), url(../images/emoji/4em.png);
    }
  }
  &:nth-child(5) {
    @include for-size(desktop) {
      order: 4;
    }

    &::before {
      background-image: url(../images/emoji/5.png), url(../images/emoji/rocket.png);
    }
  }
  &:nth-child(6) {
    @include for-size(desktop) {
      order: 6;
    }

    &::before {
      background-image: url(../images/emoji/6.png), url(../images/emoji/6em.png);
    }
  }
}
