.grid {
  margin-top: calc(var(--grid-mr) * -1);

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-mr) * -1);
  }
}

.grid-item {
  margin-top: var(--grid-mr);

  @include for-size(tablet) {
    flex-basis: calc(100% / var(--grid-item) - var(--grid-mr));
    margin-left: var(--grid-mr);
  }
}
