.hero-header {
  // min-height: 100vh;
  background-color: var(--dark-bg);
  color: #ffffff;
  padding-bottom: 300px;
  @include for-size(desktop) {
    padding-bottom: 300px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 80px;
  }
}

.top-panel {
  background: var(--dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 90;

  @include for-size(tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .btn-transparent {
    @include for-size(mobile-only) {
      display: none;
    }
    @include for-size(tablet-only) {
      margin-left: auto;
      span {
        display: none;
      }
    }
    @include for-size(desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.hero-content {
  position: relative;
  z-index: 2;

  @include for-size(tablet) {
    width: calc(100% / 4 * 3);
    padding-top: 75px;
  }

  @include for-size(desktop) {
    width: calc(100% / 12 * 5);
    padding-top: 140px;
  }
  .btn {
    margin-top: 50px;
  }
}

.hero-video {
  position: absolute;
  left: 0;
  bottom: -100px;
  transform: translateY(100%);
  max-width: 100%;
  height: auto;
  @include for-size(tablet-only) {
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

.hero-label {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #04102f;
  background-color: #fff;

  @include for-size(tablet) {
    font-size: 50px;
  }

  &:after {
    content: 'free';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + 10px));
    font-family: Acrom;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ff6c00;

    @include for-size(tablet) {
      transform: translateX(calc(100% + 15px));
    }
  }
}

.hero-date {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;

  @include for-size(tablet) {
    font-size: 20px;
  }
}

.hero-title {
  margin-bottom: 10px;
  font-size: 75px;
  line-height: 1;

  @include for-size(tablet) {
    font-size: 150px;
  }
}

.hero-description {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 30px;
    background-image: url(../images/icon/youtube.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}
