.offer {
  background-image: linear-gradient(
    to top,
    var(--dark-bg) 0,
    var(--dark-bg) 150px,
    rgba(255, 255, 255, 1) 150px,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 0;

  .content-box {
    position: relative;
    &:first-child {
      margin-bottom: 100px;
    }
    @include for-size(desktop) {
      &:last-child {
        padding-left: 100px;
      }
    }
  }
  .small-title:not(:last-child) {
    margin-bottom: 30px;
  }

  .offer-title-icon:after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 116px;
    margin-bottom: 50px;
    background-image: url(../images/emoji/offer-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .btn {
    margin-bottom: 100px;
  }
}

.offer .round-parallax {
  bottom: -100px;
  right: 0;
}
