.profit {
  background-color: var(--dark-bg);
  color: #ffffff;

  .container {
    position: relative;
  }

  .round-parallax {
    top: -50px;
    right: 20px;
    transform: translateY(-100%);

    display: block;
    width: 150px;

    @include for-size(tablet) {
      top: -110px;
      right: 150px;
      width: 179px;
    }

    @include for-size(desktop) {
      top: -60px;
      right: 40px;
    }
  }

  @include for-size(tablet) {
    .section-title:after {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      margin-top: 50px;

      background-image: url(../images/emoji/profit-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
.profit-list {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.profit-item {
  @include for-size(mobile-only) {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @include for-size(tablet) {
    width: 50%;
    padding: 46px 25px 25px;
    text-align: center;
  }

  @include for-size(tablet) {
    &:nth-child(-n + 2) {
      border-bottom: 1px solid #2f52b0;
    }

    &:nth-child(2n) {
      border-left: 1px solid #2f52b0;
    }
  }

  &::before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 65px;
    height: 52px;
    margin-right: 20px;
    background-image: url(../images/icon/profit-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include for-size(tablet) {
      margin-left: 0;
      margin-bottom: 40px;
      width: 100%;
      height: 70px;
    }
  }

  &:nth-child(2):before {
    background-image: url(../images/icon/profit-2.svg);
  }

  &:nth-child(3):before {
    background-image: url(../images/icon/profit-3.svg);
  }

  &:nth-child(4):before {
    background-image: url(../images/icon/profit-4.svg);
  }
}
