.sponsors {
  position: relative;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 140px,
    rgba(238, 244, 250, 1) 140px,
    rgba(238, 244, 250, 1) 100%
  );

  @include for-size(desktop) {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 1) 75px,
      rgba(238, 244, 250, 1) 75px,
      rgba(238, 244, 250, 1) 100%
    );
  }

  .content-box:first-child {
    @include for-size(tablet-only) {
      margin-bottom: 70px;
    }
  }

  @include for-size(desktop) {
    padding-bottom: 50px;
  }

  .container {
    position: relative;
  }
}

.sponsors-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  & > p:not(:last-child) {
    margin-bottom: 30px;
  }
}

.title-dark {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  background-color: var(--main-text-cl);
  color: #fff;
}
